$primary: rgb(236, 119, 10);
$secondary: #837f7f;
$success: rgb(84, 141, 105);
$info: rgb(153, 121, 146);
$warning: #f70909;
$danger: rgb(0, 0, 0);





// mapping colors 

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger
);

.sortDiv {
  display: flex;
  justify-content: center;
}

@import '~bootstrap/scss/bootstrap.scss'; 